.container{
    display: flex;
    justify-content: center;
    align-self: center;
    border: 2px purple solid;
}
div{
    border: 2px green solid;
}
footer{
    background-color:darkgray;
    padding: 30px;
    display: flex;
    justify-content: center;
}