body{
    background-color: white;
}
button{
    background-color: blueviolet;
    border: 0px;
    color: white;
    padding: 10px;

}
h1{
    font-family: 'Libre Baskerville';
}
h3{
    font-family: Libre Baskerville;
}
h4{
    font-family: Libre Baskerville;
}
.Padre{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 5%;
   
}
.Hijo{
    background-color: whitesmoke;
    font-weight: bold;
    font-family: 'Libre Baskerville';
    font-size: 30px;
    padding: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
}
.Second{
    display: flex;
    justify-content: end;
}



